{% if section.settings.message == true %}
{% if section.settings.home_page_only == false or path == '/'  %}
<div class="announcement-bar" style='background-color: {{ section.settings.color_bg }}; color: {{ section.settings.color_text }}; text-align: {{ section.settings.alignment }}'>
    <div class="container">
        {% if section.settings.message_link !='' %}
        <a href='{{ section.settings.message_link }}'>{{ section.settings.message_text }}</a>
        {% else %}
        {{ section.settings.message_text }}
        {% endif %}
    </div>
</div>
{% endif %}
{% endif %}
<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: {{ section.settings.nav_bg }}!important;">
        <div class="inner-navbar" style="max-width:{{ section.settings.container_size }}; flex-direction:{{ section.settings.nav_layout }};">
            <a class="navbar-brand" href="#">
                {% if section.settings.logo.blank? or section.settings.logo == '' %}
                    Logo
                {% else %}
                    <img src="{{ section.settings.logo | image_url }}" style="height: {{ section.settings.logo_size }};" />
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="navbar-collapse collapse" style="justify-content:{{ section.settings.nav_position }};">
                <ul class="navbar-nav">
                    {% for item in menus[section.settings.main_linklist].menu_items  %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
                        </li>
                        
                    {% endfor %} 
                    <li class="nav-contact"> 
                        <a href="tel:{{ section.settings.contact_num }}" aria-label="{{ section.settings.contact_num }}">
                            {% unless section.settings.contact_num == blank %}
                            <i class="icon-phone" style="background-color:{{ section.settings.icon_color }};"></i> 
                            {% endunless %}
                            Tel: {{ section.settings.contact_num }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-contact"> 
                <a href="tel:{{ section.settings.contact_num }}" aria-label="{{ section.settings.contact_num }}">
                    {% unless section.settings.contact_num == blank %}
                    <i class="icon-phone" style="background-color:{{ section.settings.icon_color }};"></i> 
                    {% endunless %}
                    Tel: {{ section.settings.contact_num }}
                </a>
            </div>
        </div>
    </nav>
</header>

<style>
.announcement-bar {
    text-align: left;
    padding: .5rem;
}

.navbar {
    padding: 1rem;
}

.inner-navbar {
    width: 100%;
    margin: auto;
    display: grid;
}

.inner-navbar .navbar-brand {
    grid-column-start: 1;
    grid-column-end: 6;
}

.inner-navbar .navbar-toggler {
    width: 4rem;
    margin-left: auto;
    grid-column-start: 7;
    grid-column-end: 8;
}

.inner-navbar .navbar-collapse {
    border-top: solid 1px #0000001a;
    margin-top: 1rem;
    grid-column-start: 1;
    grid-column-end: 8;
}

.inner-navbar > .nav-contact {
    display: none;
}

.inner-navbar .nav-contact a {
    color: #0000008c;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inner-navbar .navbar-nav li {
    border-bottom: solid 1px #0000001a;
}

.inner-navbar .navbar-nav li:last-child {
    border: none;
}

.inner-navbar .navbar-nav li:last-child a {
    padding-bottom: .5rem;
}

.inner-navbar .navbar-nav a {
    color: #0000008c;
    padding: 1.5rem 0;
}

.inner-navbar .nav-contact i {
    margin-right: .3rem;
}

.icon-phone {
    background-color: #555555;
    display: block;
    height: 20px;
    width: 20px;
    text-align: center;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    mask: url('{{'phone-icon.svg' | image_url }}') no-repeat;
    -webkit-mask: url('{{'phone-icon.svg' | image_url }}') no-repeat;
}

@media (min-width: 1024px) {
    .inner-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .inner-navbar .navbar-collapse {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
    }
    .inner-navbar .nav-contact {
        display: block;
        margin-left: 1rem;
    }
    .inner-navbar .navbar-collapse .nav-contact, 
    .inner-navbar .nav-contact i {
        display: none;
    }
    .inner-navbar .navbar-nav {
        align-items: center;
    }
    .inner-navbar .navbar-nav li {
        border-bottom: none;
    }
    .inner-navbar .navbar-nav li:last-child a {
        padding-bottom: 1.5rem;
    }
}
</style>

{% schema %}
{
    "name":"Header",
    "settings":[
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu List",
            "default": "main"
        },
        {
            "type": "range",
            "id": "logo_size",
            "label": "Logo Size",
            "default": 100,
            "min": 50,
            "max": 200,
            "step": 25
        },
        {
            "type":"header",
            "content":"Announcement bar"
        },
        {
            "type":"checkbox",
            "id":"message",
            "label":"Show announcement",
            "default":false
        },
        {
            "type":"checkbox",
            "id":"home_page_only",
            "label":"Home page only",
            "default":true
        },
        {
            "type":"richtext",
            "id":"message_text",
            "label":"Announcement"
        },
        {
            "type":"url",
            "id":"message_link",
            "label":"Link",
            "info":"Optional"
        },
        {
            "type":"color",
            "id":"color_bg",
            "label":"Bar",
            "default":"#004F78"
        },
        {
            "type":"color",
            "id":"color_text",
            "label":"Text",
            "default":"#fff"
        },
        {
            "type":"text",
            "id":"contact_num",
            "label":"Contact #:"
        },
        {
            "type":"color",
            "id":"icon_color",
            "label":"Icon Color",
            "default":"#555555"
        },
        {
            "type":"color",
            "id":"nav_bg",
            "label":"Nav",
            "default":"#f2f2f2"
        },
        {
            "type":"select",
            "id":"alignment",
            "label":"Alignment",
            "default":"center",
            "options":[
                {
                    "label":"Left",
                    "value":"left"
                },
                {
                    "label":"Center",
                    "value":"center"
                },
                {
                    "label":"Right",
                    "value":"right"
                }
            ]
        },
        {
            "type": "select",
            "id": "nav_position",
            "label": "Nav Alignment",
            "default": "flex-start",
            "options": [
                {
                    "label":"Left",
                    "value": "flex-start"
                },
                {
                    "label":"Center",
                    "value": "center"
                },
                {
                    "label":"Right",
                    "value": "flex-end"
                }
            ]
        },
        {
            "type": "select",
            "id": "nav_layout",
            "label": "Nav Layout",
            "default": "row",
            "options": [
                {
                    "value": "row",
                    "label": "Normal"
                },
                {
                    "value": "row-reverse",
                    "label": "Reverse"
                }
            ]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Container Size",
            "options": [
                {
                    "value": "1170px",
                    "label": "Desktop"
                },
                {
                    "value": "100%",
                    "label": "Full-width"
                }
            ],
            "default": "100%"
        }
    ]
}
{% endschema %}